---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import {
  Report,
  db,
} from "astro:db";


if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();

  const category = data.get("category");
  const address = data.get("address");

  await db.insert(Report).values({ category, address });
  return Astro.redirect("/");
}
---
<Layout>
  <NavBar />

  <div class="px-4 py-4">
    <p class="mb-4 text-xl underline">Create Report</p>

    <form class="grid" method="POST">
      <label class="text-md font-medium" for="category">Report Category</label>
      <select class="border border-gray-400 rounded-lg" name="category" id="category">
        <option value="Pothole">Pothole</option>
        <option value="Traffic">Traffic</option>
      </select>

      <label class="mt-2 text-md font-medium" for="address">Address</label>
      <textarea class="border border-gray-400 rounded-lg" name="address" id="address"></textarea>

      <button class="mt-4 px-5 py-2.5 bg-gray-200 border border-gray-400 rounded-lg" type="submit">Submit</button>
    </form>
  </div>
</Layout>