---
import Layout from "../layouts/Layout.astro";

import NavBar from "../components/NavBar.astro";

import { db, Report } from 'astro:db';

const reports = await db.select().from(Report);



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <NavBar />

  <div class="px-4 py-4">
    <p class="text-xl underline">
      Generated Reports
    </p>

    <table class="w-5/6 border-collapse border border-gray-400">
      <thead>
        <tr>
          <th class="border border-gray-400">Report Category</th>
          <th class="border border-gray-400">Address</th>
          <th class="border border-gray-400">Date Created</th>
          <th class="border border-gray-400">Resolved</th>
        </tr>
      </thead>

      <tbody class="text-center">
          {
          reports
          //.sort((a,b) => new Date(b.createdAt)- new Date(a.createdAt))
          .map((report) => (
            <tr>
              <td class="border border-gray-400">{report.reportCategory}</td>
              <td class="border border-gray-400">{report.address}</td>
              <td class="border border-gray-400">{report.createdAt}</td>
              <td class="border border-gray-400">✘</td>
            </tr>
          ))}
      </tbody>
    </table>

    <div class="fixed bottom-4 right-4">
      <!-- <button class="bg-blue-400 border-2 border-black font-bold py-2 px-4">
        +
      </button> -->
      <a href="./add" class="bg-blue-400 border-2 border-black font-bold py-2 px-4">+ Create Report</a>

    </div>
    
  </div>
</Layout>
