---
import Default from "../layouts/Default.astro";
import ReportForm from "../components/ReportForm.astro";
import {
  Report,
  db,
} from "astro:db";


if (Astro.request.method == "POST") {
  const data = await Astro.request.formData();
  const category = data.get("category");
  const address = data.get("address");

  await db.insert(Report).values({ category, address });
}

const reports = await db.select().from(Report);
---
<Default>
  <p class="pb-2 text-2xl font-bold">Generated Reports</p>
  <div class="border border-base-300 rounded-box overflow-x-auto">
    <table class="text-center table table-pin-rows">
      <thead>
        <tr>
          <th>Category</th>
          <th>Address</th>
          <th>Date Created</th>
          <th>Resolved</th>
        </tr>
      </thead>

      <tbody>
        {
          reports.map(report => (
            <tr>
              <td>{report.category}</td>
              <td>{report.address}</td>
              <td>{report.createdAt.toLocaleString()}</td>
              <td>{report.resolved ? "✔" : "✘"}</td>
            </tr>
          ))
        }
      </tbody>
    </table> 
  </div>

  <div class="absolute right-2 bottom-2">
    <button class="btn btn-secondary btn-sm" onclick="report_form.showModal()">+ Add Report</button>
    <ReportForm id="report_form"/>
  </div>
</Default>
