<div class="bg-base-100 text-base-content border-b border-base-300 navbar">
  <div class="navbar-start">
    <p class="text-4xl">Welcome Bob!</p>
  </div>

  <div class="navbar-end">
    <span class="flex flex-col items-center">
      <p class="text-sm">City of Toronto</p>
      <p class="text-sm">Report Application</p>
    </span>
  </div>
</div>
