<nav class="border-b-2 px-4 py-2 flex items-center justify-between">
  <p class="text-4xl">
    Welcome Bob!
  </p>
  <div class="text-xs">
    <p>
      City of Toronto
    </p>
    <p>
      Report Application
    </p>
  </div>
</nav>
